<div class="contents row">
    <%= form_tag("/tweets/#{@tweet.id}", method: :patch) do %>
        <h3>EDIT</h3>
        <input type="text" name="image" value="<%= @tweet.image %>" placeholder="ImageUrl" autofocus="true">
        <textarea name="text" placeholder="Text" row="10" cols="30"><%= @tweet.text %></textarea>
        <input type="submit" value="SEND">
    <% end %>
</div>